

<!DOCTYPE html>
<head>
  <title>Conforming Finance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=Edge"/><![endif]-->
  <meta name="description" content="">
  <meta name="keywords" content="">
  
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
  <link href="https://fonts.googleapis.com/css?family=PT+Serif%3A400italic%2C400%2C600%2C700%2C300&subset=latin%2Clatin-ext&ver=4.3.2" rel='stylesheet' type='text/css'>
  
  <script src="js/modernizr.js"></script>
  <script src="js/respond.min.js"></script>

  <!-- include extern jQuery file but fall back to local file if extern one fails to load !-->
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script type="text/javascript">window.jQuery || document.write('<script type="text\/javascript" src="js\/jquery.min.js"><\/script>')</script>
  
  <script src="js/prefixfree.min.js"></script>
  <script src="js/jquery.slides.min.js"></script>

  <meta name="robots" content="INDEX,FOLLOW">
</head>
<body>
  
  <header id = 'header'>
    <div class = 'phone'>
        <p>Call Us: 0415 556 886 </p>
    </div>
    <!-- <img id= 'phoneIcon'class='phone' src="images/phone325.png"> -->
    <%= image_tag "phone325.png"  %> 
    <%= link_to 'About', maybe_now_path %> <!-- I created my own route called maybe path -->

    <h1>Conforming </br> <span class="grey">Finance</span> Pty Ltd
    </h1>
    <nav>
      <ul>
        <li><a href="javascript:void(0)">Contact Us</a></li>
        <li><a href="javascript:void(0)">Useful links</a></li>
        <li><a href="javascript:void(0)">Finance</a></li>
         <li><a href="javascript:void(0)">Services</a></li>
        <li><a href="javascript:void(0)">About Us</a></li>
      </ul>
    </nav>
  </header>

  <section class="container">
    <h2 class="hidden">Finance, Broker, Mortgage</h2>
    <article id="slider_content1">
      <h3>Property Finance</h3>
    </article>
    <article id="slider_content2">
      <h3>Commercial Finance</h3>
    </article>
    <article id="slider_content3">
      <h3>LEASING & EQUIPMENT FINANCE</h3>
    </article>
    <article id="slider_content4">
      <h3>SELF MANAGED SUPER FUND</h3>
    </article>
    <div id="slides">
      <img src="images/slide5.jpg" alt="PROPERTY FINANCE">
      <img src="images/slide7.jpg" alt="COMMERCIAL FINANCE">
      <img src="images/truck1.jpg" alt="LEASING AND EQUIPMENT FINANCE">
      <img src="images/super.jpg" alt="SELF MANAGED SUPER FUND">
    </div>
  </section>

  <section id="boxcontent">
    <h2 class="hidden">Home Loans , Property Finance, Mortgage Broker</h2>

      <article>
        <figure>
          <a href="">
            <img src="images/mortgage.jpg" alt="Mortgage Review"/>
          </a>
          <figcaption>
            <strong>
              <h3>Conforming Finance</h3>
            </strong>
              <p>
              Lead by Angela Hoad, the team at Conforming Finance have <br>19 years Industry experience. This experience enables our clients to access the best finance products available and on going loan management techniques and tips!</p>
              <p>
              We are an AISC Financial Services Licence </br> Holder no. 393285</p>
            <a href="http://designshack.net/" class="button">Learn More</a>
          </figcaption>
        </figure>
      </article>
      
      <article>
        <figure>
          <a href="">
            <img src="images/calcultor.jpg" alt="Calculator"/>
          </a>
          <figcaption>
            <strong>
              <h3>Calculator</h3>
            </strong>
              <p>
                <a href="https://www.nab.com.au/personal/loans/home-loans/home-loan-calculators/borrowing-calculator" onclick="window.open(this.href, ''); return false;">How Much Can I Borrow?</a>
              </p>
              <p>
                <a href="https://www.nab.com.au/personal/loans/home-loans/home-loan-calculators/loan-repayments-calculator" onclick="window.open(this.href, ''); return false;">Loan Repayments</a>
              </p>
              <p>
                <a href="https://www.nab.com.au/personal/loans/home-loans/home-loan-calculators/stamp-duty-calculator" onclick="window.open(this.href, ''); return false;">Stamp Duty Calculator
                </a>
              </p>
              <p>
                <a href="https://www.nab.com.au/personal/loans/home-loans/home-loan-calculators/equity-loan-calculator" onclick="window.open(this.href, ''); return false;">Equity Loan Calculator
                </a>
              </p>
          </figcaption>
        </figure>
      </article>

       <article>
        <figure>
          <a href="">
            <img src="images/pre-approval.jpg" alt="Pre-Approval"/>
          </a>
          <figcaption>
            <strong>
              <h3>Pre-Aprroval</h3>
            </strong>
              <p>There are different kinds of pre-approvals. Its important you get a formal, written pre-approval.
              </p>
              <p>
              Be wary of any website that offers you a pre-approved home loan without taking the time to assess your financial situation. A Loan Market mortgage broker will organise your home loan pre-approval for a loan that matches your personal situation and financial goals.</p>
              <a href="http://designshack.net/" id='button'class="button">Learn More</a>
          </figcaption>
        </figure>
      </article>
    <br class="clear"/>
  </section>

  <section id= 'footer'>
    <article>
      <span style="color: #000000;">REACH YOUR TRUE FINANCIAL POTENTIAL
      <a href="http://designshack.net/" id='button'class="button footer">Enquire Now</a>
      </span>
      
      <img src="images/footer.jpg"alt = 'image for enquire'>
    </article>
  </section> 


    
 <script src="js/main.js"></script> 
</body>

